@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string canvasId = (Guid.NewGuid()).ToString();
    string canvasUrl = $"";
    
}

<canvas id="canvas">

</canvas>

<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="startModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="startModalLabel">Share Your Canvas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Share with Friend:</label>
                <a class="d-block" href="/?canvasid=@canvasId" target="_blank">@Request.Scheme://@Request.Host/?canvasid=@canvasId</a>
                <p class="d-none" id="shareCanvasId">@canvasId</p>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Start Drawing</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
<script src="~/js/app.js"></script>
}